
body {
background-color: #f0ccd4;
font-size: 80px;
}
#J39{
position: absolute;
width: 4em;
height: 4em;
left: 23%;
-webkit-transform: translate(50%, 50%); 
-ms-transform: translate(50%, 50%);
 transform: translate(50%, 50%);
}

.eye {
width: 2em;
height: 2em;
border: .03em solid black;
background: white;
border-radius: 100%;
position: absolute;
}

.eye.right{
right: -1em;
}

.eye.left {
z-index: 1;
}

.eye::after {
width: 1.5em;
height: 1.5em;
border: 0em solid black;
background: #79b0ad;
content: '';
display: block;
position: absolute;
border-radius: 100%;
margin-left: .25em;
margin-top: .25em;
}

.eye::before {
width: 1.3em;
height: 1.2em;
background: #40827e;
content: '';
display: block;
position: absolute;
border-radius: 100%;
margin-left: .3em;
margin-top: .25em;
z-index: 1;
}

.eye > div{
width: .5em;
height: .5em;
border: .02em solid black;
background: white;
border-radius: 100%;
position: absolute;
z-index: 1;
margin-left: .5em;
margin-top: .29em;
}

.mouth {
position: absolute;
height: .6em;
width: .9em;
border-radius: 0 0 .5em .5em;
border: 2px solid black;
background-color: #d17c73;
top: 2.5em;
left: 2em;
overflow: hidden;
}

.mouth::after {
content: '';
position: absolute;
display: block;
width: .9em;
height: .6em;
box-shadow: 0 -.3em 0 #9B000A;
border-top-left-radius: 100%;
border-top-right-radius: 100%;
opacity: 0.3;
}

.ear.right{
left: 4.3em;
border-radius: 20%;
-webkit-transform: rotate(30deg);
-ms-transform: rotate(30deg);
transform: rotate(30deg);
}

.ear.left {
right: 3.3em;
border-radius: 20%;
-webkit-transform: rotate(-30deg);
-ms-transform: rotate(-30deg);
transform: rotate(-30deg);
}

.ear {
position: absolute;
width: 200px;
height: 200px;
border-radius: 50%;
background-color: none;
overflow: hidden;
top: -2.5em;
}
.ear div {
position: absolute;
width: 200px;
height: 150%;
top: 35%;
left: 16%; border-radius: 50%;
overflow: hidden;
}

.ear div::after {
content:"";
position: absolute;
width: 100%;
height: 100%;
right: 25%;
background-color: #382119;
border-radius: 50%;
}
